@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');

@@font-face {
  font-family: "letra";
  src: url("../fuentes/AGENCYB.tff")
  format('truetype');
}

p {
  font-family: "letra";
}

ol {
  font-family: "letra";
}

body { background-color: #5DADE2 ;
       color :#F0F3F4;

     text-align: justify;
   font-size: large;
    font-family: 'Source Sans Pro', sans-serif;
   }

img {width: 50%;}

.contacto {width: 5%;

}

#titulocolor {color: #000000;
               text-decoration: underline;
}

.negro {color: black;
              background-color: white;
          }
.subrayado {text-decoration: underline;}

.fotos {width: 400px;
         height: 200px;
              }
header {background-color: red;

width: 50vW;
}

li {
  font-size: 1.2rem;
}



nav {background-color: green;}

section {background-color: blue;
padding: 5px;
width: 50%;
float: left;
display: flex;
flex-wrap: wrap;
}

aside {background-color: grey;
width: 50%;
float: left;
display: flex;
flex-wrap: wrap;
}

footer {background-color: brown;
clear: both;
display: flex;
flex-wrap: wrap;
}
