@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');

@@font-face {
  font-family: "letra";
  src: url("../fuentes/AGENCYB.tff")
  format('truetype');
}
@media  (min-width: 700px) {
  h1 {
    color: black; }
}
@media  (max-width: 701){
  body {
    background-color: red;
  }
}

@media (min-width: 700px) {
  .banderita{
    height: 90px;
    width: 145px;
    display: none;
  }
}
@media (max-width: 700px) {
  .mermelada {
    display: none;
  }

.cambiar: hover {
  font-size: 1.3rem;
    border: none;
    color: #117864;
    font-size: 1.2rem;
    font-weight: 500;
}

}
p {
  font-family: "letra";
}

ol {
  font-family: "letra";
}

body { background-color: #5DADE2 ;
       color :#F0F3F4;

     text-align: justify;
   font-size: large;
    font-family: 'Source Sans Pro', sans-serif;
   }

img {width: 50%;}

.contacto {width: 5%;

}

#titulocolor {color: #000000;
               text-decoration: underline;
}

.negro {color: black;
              background-color: white;
          }
.subrayado {text-decoration: underline;}

.fotos {
  width: 400px;
         height: 200px;
              }
.flaco{
  height: 300px;
  width: 300px;

}
.flag {
  height: 90px;
  width: 145px;
  margin: 10px;
}

.wsp {
  height: 50px;
  width: 50px;
  margin: 5px;
}
.insta{
  height: 50px;
  width: 50px;
  margin: 5px;
}
.face{
  height: 50px;
  width: 50px;
  margin: 5px;
}
.youtube{
  height: 50px;
  width: 50px;
  margin: 5px;
}
.title{
  width:80%;
  text-align: center;
  font-family: sans-serif;
  font-size: 4em;
  margin: 10px;
}
.mapa{
  height: 100px;
  width: 150px;
  margin: 10px;
}
.iconos{
  display: flex;
flex-direction: row-reverse;

}
header {background-color: red;
      display: flex;
  flex-direction: row-reverse;
  }

width: 100vW;
}

li {
  font-size: 1.2rem;
}



nav {background-color: green;}

section {background-color: blue;
padding: 5px;
width: 50%;
float: auto;
display: flex;
flex-wrap: wrap;
}

aside {background-color: grey;
width: 50%;
float: left;
display: flex;
flex-wrap: wrap;
}

footer {background-color: brown;
clear: both;
display: flex;
flex-wrap: wrap;
}
